# Modern browsers only - eliminates legacy polyfills
# Supports all ES2022 features natively

> 0.5%
last 2 versions
not dead
not IE 11
not Chrome < 88
not Firefox < 87
not Safari < 14
not Edge < 88

# Specifically target browsers that support:
# - Array.prototype.at (Chrome 92+, Firefox 90+, Safari 15.4+)
# - Object.hasOwn (Chrome 93+, Firefox 92+, Safari 15.4+)
# - Array.prototype.flat (Chrome 69+, Firefox 62+, Safari 12+) 